/.metadata/
/.recommenders/
/Ejercicios6/Vect1/nbproject/private/
/Ejercicios6/Vect2/nbproject/private/
/Ejercicios6/Vect1.5/nbproject/private/
/Ejercicios6/Vect1/build/
/Ejercicios6/Vect1/dist/
/Ejercicios6/Vect3/nbproject/private/
/Ejercicios6/Vect3/build/